.login{
  text-align: center;
}
.loginContent{
  display:flex;
  flex-direction: column;
  justify-content: space-around;

}
.keyHeader{
  margin-bottom:20;
  font-size: 4vw;
  font-family: 'unisono_quickpathregular';
}
#discordParent{
  flex-grow: 1;
}
.discordBtn {
  background-color: #7289DA;
  color:white;
  list-style-type: none;
  text-decoration: none;
  width:20%;
  height:20%;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 1vw;
  cursor:pointer;
}

#noAccount{
  flex-grow: 1;
  font-family: 'Varela Round', sans-serif;

}
#noAccount a {
  text-decoration: none;
  color: #7289DA;
}

.loading {
  text-align: center;
}

.loading img{
  height: 100px;
  width: 100px;
}

.error {
  text-align: center;
}